<p style="color: green"><%= notice %></p>

<h1>Coins</h1>

<div id="coins">
  <% if @coins.empty? %>
    <p>Não há moedas cadastradas na aplicação</p>
  <% else %>
    <% @coins.each do |coin| %>
      <%= render coin %>
      <p>
        <%= link_to "Show this coin", coin %>
      </p>
    <% end %>
  <% end %>
</div>

<%= link_to "New coin", new_coin_path %>
